{% extends "base.html" %}

{% block title %}{{ spell.name }}{% endblock title %}

{% block content %}
  <div class="card">
    <h1 class="card-header">{{ spell.name }} </h1>
    <div class="card-body">
      <h6 class="card-title text-muted">Spell Tier {{ spell.tier }}</h6>
      {% if spell.icon %}
        <img style="height: auto; max-width: 100%;" src="{{ spell.icon.url }}" alt="spell image">
      {% endif %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Energiekosten {{ spell.energy }}</li>
        <li class="list-group-item">Cooldown {{ spell.cool_down }} Runden</li>
        <li class="list-group-item">KI {{ spell.ki }}</li>
        <li class="list-group-item">AP {{ spell.ap }}</li>
        <li class="list-group-item">Benötigte Fähigkeit {{ spell.requires }}</li>
        <li class="list-group-item">Effekt: {{ spell.effect | safe }}</li>
        <li class="list-group-item">Beschreibung: {{ spell.description | safe }}</li>
      </ul>
    </div>
  </div>
{% endblock content %}
