{% extends "base.html" %}

{% block title %}Zauber{% endblock title %}

{% block content %}
  <h1>Zauber</h1>
  <div class="card-columns">
    {% for spell in spells %}
      <a href="{% url 'spell-detail' spell.slug %}" class="card">
        <h2 class="card-header">{{ spell.name }}</h2>
        <div class="card-body">
          {% if spell.icon %}
            <img class="item" src="{{ spell.icon.url }}" alt="spell image">
          {% endif %}
          <p class="card-text"><small class="text-muted">Tier: {{ spell.tier }}</small></p>
          <p>{{ spell.effect | safe }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock content %}
