{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
  <div class="card">
    <h1 class="card-header">{{ post.title }}</h1>
    <div class="card-body">
      <p class="text-muted">{{ post.story_date }}</p>
      <p class="card-text ">{{ post.content | safe }}</p>
    </div>
  </div>
{% endblock content %}
