{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'css/rules.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block title %}Regelwerk{% endblock title %}

{% block content %}
  <div class="card">
    <h1 class="card-header">
      <button type="button" id="sidebarCollapse" class="btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
      Regelwerk
    </h1>

    <div class="wrapper card-body">
      <div id="sidebar">
        <ul class="list-unstyled components nav list-group">
          <li class="active">
            <a href="#action-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              Aktionen
            </a>
            <ul class="collapse list-unstyled" id="action-submenu">
              {% for action in actions %}
                <li class="small">
                  <a href="{% url 'action-detail' action.slug %}">{{ action.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li class="active">
            <a href="#class-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              Klassen
            </a>
            <ul class="collapse list-unstyled" id="class-submenu">
              {% for class in classes %}
                <li class="small">
                  <a href="{% url 'class-detail' class.slug %}">{{ class.name }}</a>
                </li>
              {% endfor %}
            </ul>
          <li>
            <a href="{% url 'level-up' %}">
              Level Up
            </a>
          </li>
          <li>
            <a href="{% url 'perks' %}">
              Perks
            </a>
          </li>
        </ul>
      </div>

      <div id="content">
        {% block rule_content %} {% endblock %}
      </div>
    </div>

  </div>

{% endblock content %}
{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
      });
    });
  </script>
{% endblock extra_js %}
