/* These styles are generated from project.scss. */

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

a.card,
a.card:hover,
a.card:focus {
  color: inherit;
  text-decoration: none;
}

img.item {
  width: 116%;
  margin: -25% -8% -30%;
  height: auto;
}

.hyphens {
  hyphens: auto;
}
