{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ armor.name }}{% endblock title %}

{% block content %}
  <div class="card">
    <h1 class="card-header">{{ armor.name }}</h1>
    <div class="card-body">
      <h5 class="card-title">Slot: {{ armor.slot }}</h5>
      <h6 class="card-subtitle text-muted">Typ: {{ armor.armor_type }}</h6>
      {% if armor.icon %}
        <img class="card-img" style="width: 100%; margin: -17% 0 -30%; height: auto;" src="{{ armor.icon.url }}"
             alt="armor image">
      {% endif %}
      <div class="card-group">
        <div class="card m-2">
          <div class="card-header">Projektil Schutz</div>
          <div class="card-body">{{ armor.projectile_protection }}</div>
        </div>
        <div class="card m-2">
          <div class="card-header">Nahkampf Schutz</div>
          <div class="card-body">{{ armor.melee_protection }}</div>
        </div>
        <div class="card m-2">
          <div class="card-header">Spezial Schutz</div>
          <div class="card-body">{{ armor.special_protection }}</div>
        </div>
      </div>
      {% if armor.additional_effects %}
        <div class="card m-2">
          <div class="card-header">Zusätzliche Eigenschaften</div>
          <div class="card-body">{{ armor.additional_effects | safe }}</div>
        </div>
      {% endif %}
      {% if armor.equipment_points_required %}
        <div class="card m-2">
          <div class="card-header">Ausrüstungspunkte</div>
          <div class="card-body card-group text-center">
            {% for alert, header, body in armor.fitting %}
              <div class="card alert-{{ alert }} m-1">
                <div class="card-header">{{ header }}</div>
                <div class="card-body">{{ body }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if armor.strain_effects %}
        <div class="card m-2">
          <div class="card-header">Belastungeffekte</div>
          <div class="card-body">{{ armor.strain_effects | safe }}</div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
