{% extends "base.html" %}

{% block title %}Gegenstände{% endblock title %}

{% block content %}
  <h1>Gegenstände</h1>
  <div class="col-md-10 col-sm-10 col-xs-12">
    <label>
      <input type="search" placeholder="Filter Items.." name="search" class="form-control searchbox-input">
    </label>
  </div>

  <div class="card-columns">
    {% for weapon in weapons %}
      <a href="{% url 'weapon' weapon.slug %}" class="card">
        <h2 class="card-header card-title">{{ weapon.name }}</h2>
        <div class="card-body">
          {% if weapon.icon %}
            <img class="item" src="{{ weapon.icon.url }}" alt="weapon image">
          {% endif %}
          <p class="card-text">
            <small class="text-muted">Munition: {{ weapon.ammunition }}</small>
          </p>
        </div>
      </a>
    {% endfor %}
    {% for armor in armors %}
      <a href="{% url 'armor' armor.slug %}" class="card">
        <h2 class="card-header card-title">{{ armor.name }}</h2>
        <div class="card-body">
          {% if armor.icon %}
            <img class="item" src="{{ armor.icon.url }}" alt="armor image">
          {% endif %}
          <p class="card-text">
            <small class="text-muted">Slot: {{ armor.slot }}</small>
          </p>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock content %}
{% block extra_js %}
  <script>
    $('.searchbox-input').on('keyup', function () {
			$('.card').show();
      if($(this).val().length > 1) {
        var val = this.value.toLowerCase();
        $('.container').find('.card-title').each(
        	function() {
            if(!$(this).text().toLowerCase().match(val)) {
          	  $(this).parent().css('display', 'none');
            }
        });
 }});
  </script>
{% endblock extra_js %}
