{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ weapon.name }}{% endblock title %}

{% block content %}
  <div class="card">
    <h1 class="card-header">{{ weapon.name }}</h1>
    <div class="card-body">
      <h5 class="card-title">Schaden type: {{ weapon.damage_type }}</h5>
      <h6 class="card-subtitle text-muted">Munition: {{ weapon.ammunition }}</h6>
      {% if weapon.icon %}
        <img class="card-img" style="width: 100%; margin: -17% 0 -30%; height: auto;" src="{{ weapon.icon.url }}"
             alt="weapon image">
      {% endif %}
      <div class="card-group">
        <div class="card m-2">
          <div class="card-header">Feuerrate</div>
          <div class="card-body">{{ weapon.rate_of_fire }}</div>
        </div>
        <div class="card m-2">
          <div class="card-header">Durchschlag</div>
          <div class="card-body">{{ weapon.pierce }}</div>
        </div>
        <div class="card m-2">
          <div class="card-header">Reichweite</div>
          <div class="card-body">{{ weapon.max_range }}</div>
        </div>
        {% if weapon.ammunition_count %}
          <div class="card m-2">
            <div class="card-header">Magazin</div>
            <div class="card-body">{{ weapon.ammunition_count }}</div>
          </div>
        {% endif %}
      </div>
      <div class="card-group">
        <div class="card m-2">
          <div class="card-header">AP</div>
          <div class="card-body">{{ weapon.ap }}</div>
        </div>
        {% if weapon.reload_ap %}
          <div class="card m-2">
            <div class="card-header">Nachladen AP</div>
            <div class="card-body">{{ weapon.reload_ap }}</div>
          </div>
        {% endif %}
        <div class="card m-2">
          <div class="card-header">Ausrüstungs AP</div>
          <div class="card-body">{{ weapon.equip_ap }}</div>
        </div>
      </div>

      <div class="card-group">
        <div class="card m-2">
          <div class="card-header">Präzisionsformel</div>
          <div class="card-body">{{ weapon.precision }}</div>
        </div>
        <div class="card m-2">
          <div class="card-header">Schaden pro Treffer</div>
          <div class="card-body">{{ weapon.damage }}</div>
        </div>
      </div>
      <div class="card-group">
        {% if weapon.range_table %}
          <div class="card m-2">
            <div class="card-header">Reichweite Tabelle</div>
            <div class="card-body">{{ weapon.range_table | safe }}</div>
          </div>
        {% endif %}
        <div class="card m-2">
          <div class="card-header">Treffer Tabelle</div>
          <div class="card-body">{{ weapon.hit_table | safe }}</div>
        </div>
      </div>
      <div class="card-group">
        <div class="card m-2">
          <div class="card-header">Kritische Bedingung</div>
          <div class="card-body">{{ weapon.critical_condition }}</div>
        </div>
        <div class="card m-2">
          <div class="card-header">Kritischer Effect</div>
          <div class="card-body">{{ weapon.critical_effect }}</div>
        </div>
      </div>
      {% if weapon.miscellaneous %}
        <div class="card m-2">
          <div class="card-header">Sonstiges</div>
          <div class="card-body">{{ weapon.miscellaneous | safe }}</div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
