{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ npc.name }}{% endblock title %}

{% block content %}
  <div class="card">
    <h1 class="card-header">{{ npc.name }}</h1>
    <div class="card-body">
      {% if npc.icon %}
        <img style="height: auto; max-width: 100%;" src="{{ npc.icon.url }}" alt="npc image">
      {% endif %}
      <p class="card-text ">{{ npc.content | safe }}</p>
    </div>
  </div>
{% endblock content %}
